<body>
    
    <h1> ...לחץ על 🔻/כותרת כדי לקרוא עוד </h1>
<a (click)="showTips1()" class="articlesTitle"> <b>🔻:טיפים לאפייה מוצלחת</b></a>
<br>
<ol *ngIf=flag1>
    <li>
        <strong>לקרוא</strong> היטב את המתכון.</li>
    <li>
        <strong>למדוד</strong> ולהכין את כל המצרכים מראש.</li>
    <li>להשתמש ב
        <strong>גודל תבנית</strong> או דומה לה כפי שצויין במתכון.</li>
    <li>בעוגות תופחות יש
        <strong>למלא 3/4 מגובה התבנית</strong> על מנת שהעוגה תוכל לעלות.</li>
    <li>יש
        <strong>להקפיד</strong> על משך האפייה והחום המצוינים במתכון.</li>
    <li>יש להוציא את העוגה המוכנה מהתבנית
        <strong>לאחר רבע שעה</strong> של קירור. הוצאת עוגה חמה מהתבנית תשבור אותה.</li>
    <li>כשאופים עוגות גבינה
        <strong>להקפיד</strong> לא לפתוח את דלת התנור במהלך האפיה, דבר שיגרום לעוגה לצנוח, אלא רק ממש לפני סיומה.</li>
    <li>עוגות גבינה יש
        <strong>לקרר קירור מלא</strong> לפני הוצאתן מהתנור. יש הנוהגים לשים מגבת בדלת התנור ולהשאיר פתח עד שהעוגה מתקררת, אני נוהגת
        להשאיר את העוגה בתנור סגור לילה (במידה והכנתי אותה בערב).</li>
    <li>בעוגות פאי יש לאפות את הבצק
        <strong>אפייה עיוורת</strong> קודם להוספת המילוי ,על מנת שלא יחדרו נוזלים לתחתית הפאי.</li>
</ol>
<a (click)="showTips2()" class="articlesTitle"> <b>🔻:טיפים לבישול נכון</b></a>
<br>
<ol *ngIf=flag2>
    <li>
        <strong>לקרוא</strong> היטב את המתכון.</li>
    <li>
        <strong>להכין</strong> את המצרכים מראש, קרובים לעמדת העבודה.</li>
    <li>במידה וחסר אחד מן המרכיבים בתבשיל
        <strong>אל תתייאשו</strong>, נסו לשלב משהו במקומו (הדומה במרקמו, להחליף ירק בירק אחר, תיבול במשהו בעל טעם דומה, פלפל שחור
        בלבן או אנגלי וכו&#039;).</li>
</ol>


<a (click)="showTips3()" class="articlesTitle"><b>🔻:המרת מידות ומשקלות</b></a>
<a class="articlesTitle">
   
    <br />

</a>
<ul *ngIf=flag3 dir="RTL" style="text-align: justify;">
    
    <br>
    <li>1 כוס קמח = 140 גרם | 1 כף = 10 גרם</li>
    <br />
    <li>1 כוס קמח מלא = 125 גרם | 1 כף = 8 גרם</li>
    <br />
    <li>1 כוס קורנפלור = 140 גרם | 1 כף = 10 גרם</li>
    <br />
    <li>1 כוס קקאו = 140 גרם | 1 כף = 10 גרם</li>
    <br />
    <li>1 כוס סולת = 200 גרם | 1 כף = 10 גרם</li>
    <br />
    <li>1 כוס אבקת סוכר = 120 גרם | 1 כף = 8 גרם</li>
    <br />
    <li>1 כוס סוכר/ סוכר דמררה = 200 גרם | 1 כף = 10 גרם</li>
    <br />
    <li>1 כוס (דחוסה) סוכר חום כהה = 240 גרם | 1 כף = 15 גרם</li>
    <br />
    <li>1 כף מלח = 20 גרם | 1 כפית = 5 גרם</li>
</ul>
<a (click)="showTips4()" class="articlesTitle">
    <b> 🔻:חומרי התפחה וייצוב</b>
</a>
<br>
<ul *ngIf=flag4 dir="RTL" style="text-align: justify;">
    <li>1 כפית אבקת אפייה = 5 גרם</li>
    <br />
    <li>1 כפית סודה לשתייה = 5 גרם</li>
    <br />
    <li>1 כפית שמרים יבשים = 5 גרם</li>
    <br />
    <li>1 כף אינסטנט פודינג וניל = 10 גרם</li>
    <br />
    <li>1 שקית אבקת ג'לטין = 14 גרם | 1 כפית = 5 גרם</li>
    <br />
    <li>1 כפית פקטין = 5 גרם</li>
</ul>
<a (click)="showTips5()" class="articlesTitle">
    <b >🔻:יבשים ותבלינים</b>
</a>
<br>
<ul *ngIf=flag5 dir="RTL" style="text-align: justify;">
    <li>1 כוס פרג טחון = 100 גרם</li>
    <br />
    <li>1 כוס שקדים/ אגוזים טחונים = 100 גרם</li>
    <br />
    <li>1 כוס אגוזים קצוצים = 85 גרם</li>
    <br />
    <li>1 כוס שיבולת שועל=1 00 גרם</li>
    <br />
    <li>1 כוס קוקוס=1 00 גרם</li>
    <br />
    <li>1 כף קינמון טחון=1 0 גרם | 1 כפית=5 גרם</li>
    <br>
    <li> 1 כפית הל טחון=5 גרם</li>
    <br>
    <li> 1 כפית נס קפה=5 גרם</li>
</ul>
<a (click)="showTips6()" class="articlesTitle">
    <b>🔻:נוזלים, סירופים ורטבים</b>
</a>
<br>

<ul *ngIf=flag6 dir="RTL" style="text-align: justify;">
    <li> 1 כוס דבש/ סילאן = 360 גרם | 1 כף = 20 גרם</li>
    <br />
    <li> 1 כוס סירופ תירס/ גלוקוזה = 360 גרם | 1 כף = 20 גרם</li>
    <br />
    <li>1 כוס מייפל אמתי = 240 גרם</li>
    <br />
    <li>1 כוס שמן = 200 גרם</li>
    <br />
    <li>1 כוס שמן קוקוס = 200 גרם</li>
    <br />
    <li>1 כוס שמנת מתוקה = 240 מ&quot;ל | 1 מיכל שמנת מתוקה = 250 מ&quot;ל</li>
    <br />
    <li>1 מיכל שמנת חמוצה = 200 מ&quot;ל</li>
    <br />
    <li> 1 מיכל יוגורט = 200 מ&quot;ל</li>
    <br />
    <li>1 כוס חלב/ חלב סויה = 240 מ&quot;ל | 1 כף = 15 מ&quot;ל</li>
    <br />
    <li>1 כוס מים = 240 מ&quot;ל | 1 כף = 15 מ&quot;ל</li>
    <br />
    <li>1 כוס מיץ תפוזים/ מיץ לימון = 240 מ&quot;ל | 1 כף = 15 מ&quot;ל</li>
    <br />
    <li>1 כף אספרסו (המשקה) = 15 מ&quot;ל</li>
</ul>
<a (click)="showTips7()" class="articlesTitle">
    <b>🔻:ממרחים ותוספות</b>
</a>
<br>


<ul *ngIf=flag7 dir="RTL" style="text-align: justify;">
    <li> 1 כוס ריבת חלב = 400 גרם</li>
    <br />
    <li> 1 כוס ריבה = 330 גרם</li>
    <br />
    <li>1 כוס חמאת בוטנים = 250 גרם</li>
    <br />
    <li>1 כוס ממרח השחר = 280 גרם</li>
    <br />
    <li>1 כוס ממרח חלבה = 400 גרם</li>
    <br />
    <li>1 כוס טחינה גולמית = 240 גרם</li>
    <br />
    <li>1 כוס פירות יער קפואים = 125 גרם</li>
    <br />
    <li>1 כוס שוקולד צ'יפס = 200 גרם</li>
    <br />
    <li> 1 פחית קרם/ חלב קוקוס = 400 גרם</li>
    <br />
    <li>1 פחית חלב מרוכז ממותק = 398 גרם</li>
</ul>
<a (click)="showTips8()" class="articlesTitle">
    <b> 🔻:L ביצים- בגודל </b>

</a>
<br>

<ul *ngIf=flag8 dir="RTL" style="text-align: justify;">
    <br />
    <li> 1 חלמון גודל L = 20-25 גרם</li>
    <br />
    <li>1 חלבון גודל L = 35-40 גרם</li>
</ul>
<a (click)="showTips9()" class="articlesTitle">
    <b> 🔻:הערות חשובות</b>
</a>
<ul *ngIf=flag9>
    <li style="text-align: justify;">המרת שמרים: כדי להמיר שמרים יבשים לטריים יש להכפיל פי 3 (למשל: 10 גרם שמרים יבשים = 30 גרם שמרים טריים)</li>
    <li style="text-align: justify;">בכל המתכונים מומלץ להשתמש בביצים בגודל L לקבלת תוצאות מדויקות.</li>
    <li style="text-align: justify;">מומלץ להשתמש בשמן צמחי בעל טעם ניטראלי כמו שמן קנולה, חמניות, תירס או סויה. שמן קוקוס משמש כתחליף מוצלח לחמאה (לא תמיד
        ובהתאם למתכון). שמן זית מתאים במתכונים ספציפיים בלבד ועדיף לא לאפות איתו באופן קבוע.</li>
    <li style="text-align: justify;">לא כל מתכון אפשר או כדאי להמיר למידות בנפח. מתכונים מסובכים ו/או בעלי מצרכים רבים (למשל מקרונים או עוגות רושם) מומלץ
        להכין על פי מידות משקל בלבד.</li>
</ul>
<br><br><br><br><br><br><br><br><br><br>            

</body>